<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <ul>
                    <li>Step 1: Run "npm install @ngx-loading-bar/router --save"</li>
                    <li>Step 2: Run "npm install @ngx-loading-bar/core --save" . this is the dependancy of this library.</li>
                    <li>Step 3: Import "LoadingBarRouterModule" in app.module.ts</li>
                    <li>Step 4: Copy html tag in app.component.html</li>
                </ul>
               
                <p><strong><a href="https://github.com/aitboudad/ngx-loading-bar/blob/HEAD/packages/router/README.md" target="_blank">Get Full Reference</a></strong></p>
            </div>
        </div>
    </div>
    
</div>
