<div>
	<button (click)="pageRedirect('country-dropdown')">Time Picker</button>
	<button (click)="pageRedirect('speech-recognition')">Speech Recognition</button>
	<button (click)="pageRedirect('country-dropdown')">Country Dropdown</button>
	<button (click)="pageRedirect('country-dropdown')">Owl Crouseal</button>
	<button (click)="pageRedirect('country-dropdown')">Slick Crouseal</button>
	<button (click)="pageRedirect('country-dropdown')">Multi Select Dropdown</button>
	<button (click)="pageRedirect('country-dropdown')">Drag Drop</button>
	<button (click)="pageRedirect('country-dropdown')">Loading Bar</button>
	<button (click)="pageRedirect('country-dropdown')">Video Player</button>
</div>

<router-outlet></router-outlet>
